/*860px*/

@media(max-width: 800px) {

    body {
        overflow: auto;
        touch-action: auto;
        height: 100vh;
    }

    .container {
        padding: 0 50px;
    }

    .header-title {
        margin: 0;
        width: 200px;
        margin-right: 20px;
        font-size: 35px;
        font-weight: 500;
        line-height: 45px;
    }


    .products-list {
        justify-content: center;
        gap: 20px;
    }

    .add-form {
        grid-template-columns: repeat(2, 1fr);
    }

    .products-container {
        justify-content: center;
        background-color: violet;
    }

    .header-logo {
        margin: 0;
        margin-bottom: 10px;
    }

}


/*460px*/
@media(max-width: 600px) {


    body {
        overflow: hidden;
    }

    .container {
        padding: 0 20px;
    }

    .header-logo {
        align-self: center;
    }

    .nav-container {
        display: flex;
    }

    .header-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .header-title {
        margin: 0;
        width: 200px;
        margin-right: 0px;
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
    }

    .header-nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .add-form {
        display: flex;
        flex-direction: column;
    }

    .add-img {
        align-self: flex-start;
        order: -1;
    }

    #cart img {
        width: 250px;
        height: 250px;
    }


    .productS-title {
        text-align: center;
    }
}